@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

    body {
      background-color: black;
      color: white;
      font-family: 'Press Start 2P', cursive;
    }


    .undertale-header {
      font-size: 3rem;
      color: #FF5733;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      padding: 20px;
      background-color: #333;
      border: 3px solid #FF5733;
      margin: 20px;
    }

    .menu-item {
      font-size: 30px;
      text-align: center;
      padding: 10px;
      color: #FF5733;
      background-color: #000;
      border: 2px solid #FF5733;
      text-decoration: none;
      display: block;
      margin: 0 10px;
      transition: background-color 0.3s, transform 0.3s;
    }

    .menu-item:hover {
      background-color: #FF5733;
      color: black;
      transform: scale(1.1);
    }

    .menu-container {
      display: flex;
      flex-direction: line;
      align-items: center;
    }
